In [1]:
import pandas as pd
from fbprophet import Prophet

df_init = pd.read_csv('/Users/brandosocarras/Documents/IEEE_20/Stock_Predictions/data/GOOGLE_FIN_5YR_A.csv')
df_init.head()

ERROR:fbprophet:Importing plotly failed. Interactive plots will not work.

  Stock     Date   Open   High    Low  Close   Volume
0     A  2/17/15  40.01  40.53  39.76  40.52  2875788
1     A  2/18/15  41.12  42.20  40.91  41.54  9007218
2     A  2/19/15  41.40  41.57  41.04  41.15  3737331
3     A  2/20/15  41.09  42.11  40.88  41.95  2971880
4     A  2/23/15  41.89  41.96  41.49  41.73  1967913

In [2]:
df_init.tail()

      Stock     Date    Open    High     Low   Close   Volume
11326   ACN  2/10/20  210.19  212.97  210.19  212.55  1421591
11327   ACN  2/11/20  213.38  213.98  211.76  212.14  1321019
11328   ACN  2/12/20  212.20  212.87  211.54  211.99  1801311
11329   ACN  2/13/20  209.87  213.54  209.34  212.40  1721214
11330   ACN  2/14/20  213.25  213.54  211.35  212.37  2096562

In [3]:
m = Prophet()
m.fit(df)
future = m.make_future_dataframe(periods=365)
future.tail()

NameError: name 'df' is not defined

In [5]:
df = []
df['ds'] = df_init['Date']
df['y'] = df_init['Close']

TypeError: list indices must be integers or slices, not str

In [4]:
m = Prophet()
m.fit(df)
future.tail()

NameError: name 'df' is not defined

In [ ]:
data = []
for